version: "3.8"
services:
  travel-agency-redis:
    container_name: travel-agency-redis
    build:
      #    도커 파일의 이름
      dockerfile: Dockerfile
      #    도커 파일의 위치 root -> redis
      context: ./redis
      #     이미지명
    image: jundev21/travel-agency-redis
    ports:
      - "6379:6379"
  travel-agency-database:
    container_name: travel-agency-database
    build:
      #    도커 파일의 이름
      dockerfile: Dockerfile
      #    도커 파일의 위치 root -> redis
      context: ./database
      #     이미지명
    image: jundev21/travel-agency-database
    environment:
      - MYSQL_DATABASE=travelAgency
      - MYSQL_ROOT_PASSWORD=${MYSQL_USER_PASSWORD}

    ports:
      - "3308:3306"


# 페이먼트쪽 완료하고
# 페이지네이션, 소팅 완료하기
# 이력서 완료
